apispec
beautifulsoup4
dash
dash-core-components
dash-html-components
dash-table
flasgger
flask
flask_monitoringdashboard
flask-caching
jinja2
jsoncomment
lunchbox>=0.1.2
nltk
numpy
pandas
pandasql
plotly
requests
rolling-pin
schematics
scikit-learn
selenium
webcolors